{{> header}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Hi, I´m very happy today and everyday</h1>

    </div>
    <div class="col-4">
        <img src="assets/images/image.JPG" class="img-thumbnail" alt="image">

    </div>
</div>


{{> footer}}